---
import Base from "../layouts/Base.astro";
---
<Base title="About the Reavers" description="Who we are and what we do">
  <h1>About us</h1>
  <p>Red Deer Reavers is a growing armoured combat team in Alberta Our mission is to build a welcoming space for adults who want a physical team sport with medieval flavour We plan to add a youth and teen track once we have stable gear and volunteers</p>
  <h2>Where to find us</h2>
  <ul>
    <li>Facebook search Red Deer Reavers</li>
    <li>Instagram search Red Deer Reavers</li>
    <li>Discord join link on the Join page</li>
  </ul>
</Base>
